.info {
	font-size: large;
	position: absolute;
	width: 100%;
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #BBBBBB;
	text-align: center;
	top: 0;
	left: 0;
	opacity: 0.7;
	display: table;
}

button {
	position: fixed;
	bottom:0px;
	right:0px;
	font-size:100%;
}